/*  your css code here. If applicable */

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: rgb(56, 56, 56);
            color: white;
        }
        #grid-container{
            display: grid;
            width: 300px;
            height: 300px;
            grid-template-columns: repeat(3 ,100px);
            grid-template-rows: repeat(3,100px);
            background-color: grey;
            border-radius: 10px;
        }
        #grid-container div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            margin: 5px;
            color: white;
            border-radius: 10px;
        }
    